*{
  margin:0;
  padding:0;
}
.container{
   background:linear-gradient(pink,deeppink);
   width:100%;
   min-height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;

}
.app-cover
{
  background-color: plum;
  min-width:450px;
  min-height: 650px;
  padding:30px;
  box-sizing:border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px black;
  margin-bottom: 10px;
}
#title h1{
    color:black;
    text-align: center;
    margin:30px 0;
    font-family:'Times New Roman', Times, serif;
}
#task
{
  outline:none;
  width:200px;
  padding:25px;
  margin-right: 25px;
  font-size:20px;
  color:black;
  background-color: rgba(197, 61, 106, 0.295);
  border: 1px solid purple;
  border-radius: 10px;

}
#button-add
{
  width:70px;
  padding:15px 15px;
  font-size:20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(182, 10, 250);
  cursor: pointer;
}
#list-item
{
  display:flex;
  margin: 15px 0;
  border:2px solid black;
  border-radius: 10px;
  padding:10px;
  max-height:25px;
}
#button-complete,
#button-delete,
#button-update
{
  border: none;
  outline:none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}
#button-complete
{
  color: green;
  margin-right:10px;
}
#button-update
{
  color:blue;
  margin-right:10px;
}
#button-delete
{
  color: red;
}
#complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color:darksalmon;
  opacity: 0.5;
}
#list
{
 font-weight: bold;
  background-color:plum;
  border: none;
  color:black;
  font-family: cursive;
 
}
input:focus,
button:focus{
  outline:none;
}